#imagenintro {
	display: flex;
	padding: 0px 16px;
	column-gap: 16px;
	background-color: #1F8FB0;
	color: #FFFFFF;
	align-items: center;
	justify-items: end;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;

	img {
		width: 50%;
		max-width: 400px;
	}

	p {
		max-width: 500px;
		flex: 1;
	}
}

#countdown {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;

	#meses,
	#dias,
	#horas {
		color: #EE184C;
		font-size: 85px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: -4.25px;
		width: 100%;
		display: block;
	}

	&>div {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-evenly;
	}
}

#imagenintro {}

/* Versión tablet */
@media (min-width: 600px) {
	/* aqui abajo van los estilos para tablet */
	#textoyimagen color: var(--Blanco, #FFF);
	text-align: center;
}

.blank-line {

	margin: 0;

}

#quienes-somos {
	text-align: center;
	margin: 16px;
	padding: 0 16px;

	h1 {
		color: #1F8FB0;
	}

	img {
		width: 100%;
		max-width: 400px;
		object-fit: cover;
		object-position: center;
		padding: 1%;
	}

	p {
		color: #000;
	}
}

#equipocompuesto {
	display: flex;
	text-align: right;
	margin: auto;
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	padding: 0 16px;
	column-gap: 16px;
	background-color: #FFFFFF;
	color: #000;
	align-items: center;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	h1 {
		color: #1F8FB0;
	}

	img {
		width: 50%;
		height: 180px;
		object-fit: cover;
		object-position: center;
	}

	p {
		color: #000;

	}
}

#barras {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	margin-top: 64px;
	margin-bottom: 64px;
}

#pastor {
	display: flex;
	text-align: right;
	margin: 64px;
	max-width: 1200px;
	width: 90%;
	padding: 0 16px;
	column-gap: 16px;
	background-color: #FFFFFF;
	color: #000;
	align-items: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	body {
		margin: 0;
		line-height: normal;
	}

	img {
		width: 30%;
		max-width: 200px;
		object-fit: cover;
		object-position: center;
	}

	p {
		color: #000;
	}
}

#comienzo {
	h2 {
		margin: 0.5px;
		padding: 1px;
	}

	img {
		width: 100%;
		max-width: 800px;
		margin: 10px 0px 0px 0px;
	}
}

#primeramision {
	img {
		width: 100%;
		max-width: 800px;
	}
}

#expansion {
	img {
		width: 100%;
		max-width: 800px;
	}
}

#posteriores {
	img {
		width: 100%;
		max-width: 800px;
	}
}

#respondiendo {
	img {
		width: 100%;
		max-width: 800px;
	}
}

/* /Versión movil 
@media (max-widhth: 720px) {
	#barras {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, 1fr);
	}

	#comienzo {
		img {
			width: 100%;
			max-width: 400px;
			margin: 10px 0px 0px 0px;
		}
	}

	#primeramision {
		img {
			width: 100%;
			max-width: 400px;
		}
	}

	#expansion {
		img {
			width: 100%;
			max-width: 400px;
		}
	}

	#posteriores {
		img {
			width: 100%;
			height: 100%;
			max-width: 400px;
		}
	}

	#respondiendo {
		img {
			width: 100%;
			max-width: 400px;
		}
	}
}
*/

/* /Versión tablet */
@media (min-width: 768px) {
#barras {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	margin-top: 64px;
	margin-bottom: 64px;
}
#comienzo {
	img {
		width: 100%;
		max-width: 800px;
		margin: 10px 0px 0px 0px;
	}
}

#primeramision {
	img {
		width: 100%;
		max-width: 800px;
		margin: 10px 0px 0px 0px;

	}
}
#expansion {
	img {
		width: 100%;
		max-width: 800px;
		margin: 10px 0px 0px 0px;

	}
}
#posteriores {
	img {
		width: 100%;
		max-width: 800px;
		margin: 10px 0px 0px 0px;

	}
}
#respondiendo {
	img {
		width: 100%;
		max-width: 800px;
		margin: 10px 0px 0px 0px;

	}
}
}
/* Versión laptop */
/* Versión desktop */