

/* MENU LINEAS DE ACCION */
#lineas {
    display: grid;
    grid-template-rows: auto auto; /* Dos filas: una para cada parte */
    gap: 0px; /* Espaciado entre las filas */
    background-color: #32A552; /* Color de fondo */
}
#lineas > #carrusel-container {
    grid-row: 1; /* Primera fila */
    display:grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tres columnas */
    gap: 0px; /* Espaciado entre las columnas */
    justify-items: center; /* Centrar el contenido horizontalmente */
    align-items: center; /* Centrar el contenido verticalmente */
}
.imgcarrusel{
    width: 100%; /* Ajustar al ancho de la columna */
    aspect-ratio:1/1; /* Mantener la proporción de la imagen */
}
#lineas > #textolineas {
    grid-template-columns: 1fr 100px;
    text-align: left;
    color: white;
    padding-left: 20px;
    padding-top: 0px;
    display: grid;
    align-items: center;
    justify-items: stretch;
}
#lineas button{
    width: 67px;
    height: 32px;
    background-color: white;
    color: #32A552;
    font-size: 24px;
    margin-top: 17px;
    margin-left: 12px;
}
#lineasAccion > section{
    width: 90%;
    max-width:400px;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr; 
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin:0 auto;
    margin-bottom: 4rem;
}
#lineasAccion > h1{
    text-align: center;
}
#lineasAccion > section > a:nth-child(5){
    grid-column-start: 1;
    grid-column-end: 3;
}
#lineasAccion > section > a > div > span{
  font-size:24px;
  color:black;
}
#lineasAccion > section > a {
text-decoration: none;
border-radius: 20px;
border: 2px solid white;
}
#lineasAccion > section > a:nth-child(1):hover{
    border: solid 2px #1F8FB0;  
}
#lineasAccion > section > a:nth-child(2):hover{
    border: solid 2px #EE184C;  
}#lineasAccion > section > a:nth-child(3):hover{
    border: solid 2px #FCD547;  
}#lineasAccion > section > a:nth-child(4):hover{
    border: solid 2px #32A552;  
}#lineasAccion > section > a:nth-child(5):hover{
    border: solid 2px #000000;  
}
#lineasAccion > section > a > div > img{
    width:80%;
    margin-bottom: 5px;
  }
  #lineasAccion > section > a:nth-child(5) > div > img{
    width: 40%;
}
#lineasAccion > section > a:nth-child(1) > div > img{
    margin-left:20%;
}
#lineasAccion > section > a:nth-child(4) > div > img{
    margin-left:-20%;
}
#lineasAccion > section > a:nth-child(4) > div > span{
    text-align: center;
}
.modulolinea {
    display: flex;
    flex-direction: column; /* Coloca elementos en columna */
    align-items: center;  /* Centra el contenido si deseas */
    gap: 10px; /* Espacio entre los elementos */
    padding: 15px;
}


/*Versión Tablet*/
@media (min-width:768px) {
    #lineasAccion > section {
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        padding:10px 15px;
        max-width: 1200px;
    }
    #lineasAccion > section > a:nth-child(5){
        grid-column-start: inherit;
        grid-column-end: inherit;
    }
    #lineasAccion > section > a:nth-child(5) > div > img {
        width: 80%;
    }
}
/*Versión Laptop*/
@media (min-width:1024px) {
    #lineasAccion > section {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }     
}



/*TODA LA SECCIÓN DE CARRUSEL*/
.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    right: 2%;
}

.carousel-control.next {
    left: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3, 
#carousel-4:checked ~ .control-4{
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet{
    color:#FCD547;
}

/* CONFIGURACION PRINCIPAL */
#desarrollo, #educacion, #salud, #recursos, #fe {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 82px 1fr 200px;
    width: 90%;
    max-width:400px;
    margin: 0 auto; /* centra horizontalmente */
    margin-top: 24px;

    h1,h2{
        text-align: center;
    }
    h1 {
        color:#FCD547;
        img{
            width: 37px;
        }
    }
    & > section.como-ayudar {
        margin-top:-30px;
        & > section > div > div > img {
            width: 100%;
        }
        & > div > a.btn.inscribirme {
            background-color: #EE184C;
            color: #fff;
            padding: 10px 20px;
            border-radius: 23px;
            text-decoration: none;
            font-size: 16px;
            text-align: center;
        }
        & > div > a.btn.donar {
            background-color: #FCD547;
            color: #fff;
            padding: 10px 20px;
            border-radius: 23px;
            text-decoration: none;
            font-size: 16px;
            text-align: center;
        }
        & > div{
            display: flex;
            justify-content: center;
            gap: 10px;
        }
        &> section > div{
            display: grid;
           grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 10px;
            text-align: center;
            & > a {
                text-decoration: none;
               color:black;
               & > img {
                width: 100%;
            }
            }
        }
    }
}

/* CAMBIOS */

#educacion {
    h1{
        color:#1F8FB0;
    }
    section.como-ayudar > div > a.btn.donar{
        background-color:#1F8FB0;
}
}
#salud {
    h1{
        color:#EE184C;
    }
    section.como-ayudar > div > a.btn.donar{
        background-color:#1F8FB0;
}
}
#recursos {
    h1{
        color:#32A552;
    margin-bottom: 4px;
    }
    & > h1:nth-child(1){
        margin-bottom: 4px;
    }
    section.como-ayudar{
        margin-bottom: 4px;
        & > div {
            margin-top:auto;
    }
     > div > a.btn.donar{
        background-color:#1F8FB0;
    }
}