#lineas {
	display:grid;
	grid-template-columns:33% 33% 33%;
    background-color:#32A552;
	padding-bottom:50px;
	
}
#lineas>h3{
	color:white;
}
.imgcarrusel{
	
	width:auto;
	height:430px;
}
#carrusel1{ 
background-image:url(../images/lineaA1.jpg);
	background-size:contain;
	background-repeat:no-repeat;
   }
#carrusel2{ 
background-image:url("../images/lineaA2.jpg");
	background-size:contain;
	background-repeat:no-repeat;
   }
#carrusel3{ 
background-image:url("../images/lineaA3.jpg");
	background-size:contain;
	background-repeat:no-repeat;
   }
#lineas>button{
	width:100px;
	

	
}
	
