/* Encabezado */
header {
    padding: 70px 0 0 0;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    &::before {
        content: '';
        position: absolute;
        top: -0px; /* Ajustar según sea necesario */
        left: 0;
        width: 100%;
        height: 105px; /* Altura del SVG */
        background: url(../images/header.svg) no-repeat center top;
        background-color: #FFF;
        background-size: cover;
        z-index: -1; /* Asegurarse de que esté detrás del contenido del header */
    }
    img {
        height: 85px;
        margin-bottom: 1em;
    }
}
#menuRetractil{
    margin-top: -44px;
}
.fa-bars {
    background: none;
    color: #fff;
    font-size: 32px;
    &:hover {
        color: #fcd547;
        filter: brightness(1);
    }
}
.fa-xmark {
    background: none;
    border: none;
    font-size: 32px;
    color: white;
    position: absolute;
    top: 27px;
    right: 28px;
    &:hover {
        color: #fcd547;
        filter: brightness(1);
    }
}
#menuModal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ee184ee6; /* Fondo semi-transparente */
    z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
    justify-content: center;
    align-items: center;
}
#menuModal nav {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 90%;
}

#menuModal ul {
    list-style: none;
    padding: 0;
}

#menuModal li {
    margin: 10px 0;
}

#menuModal a {
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
    &:hover {
        color: #000;
    }
}

/* Estilos para la sección de inscripción */
#inscripcion {
    text-align: center;
    padding: 20px;
    margin-bottom: 3rem;
    transition: opacity 0.5s ease;
    h1 {
        color: #2EAF6E; /* Verde del título */
        margin-bottom: 20px;
    }
}
/* Estados de visibilidad */
.visible {
    opacity: 1;
    pointer-events: auto;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

#progreso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 30px;
    max-width: 800px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 20px;
        width: 100%;
        height: 0px;
        border: 1px dashed #0078A8;
        z-index: -1;
    }
    .paso {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9rem;
        color: #0078A8; /* Azul para pasos inactivos */
        background: #FFF;
        &.activo {
            span {
                background-color: #EE184C; /* Rojo para el paso activo */
            }
            p {
                color: #EE184C; /* Rojo para el texto del paso activo */
            }
        }
        span {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50%;
            background-color: #0078A8; /* Azul para pasos inactivos */
            color: white;
            font-weight: bold;
            margin-bottom: 5px;
        }
    }
}

#formInscripcion {
    max-width: 400px;
    margin: 0 auto;
}

.campo {
    margin-bottom: 20px;
    text-align: left;
    position: relative;
    label {
        position: absolute;
        font-size: 1rem;
        font-weight: bold;
        color: white;
        margin-bottom: 5px;
        background: #0078A8;
        width: 200px;
        border-radius: 25px 25px 0 0;
        padding: 10px 0 30px 17px;
        z-index: -1;
    }
    input,select, #areasApoyo {
        width: 100%;
        padding: 10px 15px;
        border: 2px solid #0078A8;
        border-radius: 25px;
        font-size: 1rem;
        outline: none;
        transition: border-color 0.3s ease;
        margin-top: 2.3rem;
        background: white;
        &.error {
            border-color: #EE184C; /* Rojo para el borde de error */
        }
    }
}
.mensajeDeError{
    grid-column-start: 1;
    grid-column-end:3;
}
.btn-siguiente {
    display: block;
    width: 100%;
    background-color: #EE184C; /* Rojo para el botón */
    color: white;
    font-size: 1.2rem;
    padding: 10px 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    height: 40px;
    border-radius: 25px;
}
.paso2{
    label {
        width: 300px;
    }
}
#inscripcion.paso2  #formInscripcion > div:nth-child(5) > label{
    top: -37px;
}
#areasApoyo{
    display: grid;
    grid-template-columns: 32px 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: .5rem 1rem;
    margin-top: 57px!important;
    input{
        width: initial;
        padding: 0;
        border: none;
        border-radius: unset;
        margin: 0;
        background: initial;
    }
}
.confirmacion {
    background: #EE184C;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    box-shadow: inset 0px 0px 8px 4px #00000060;
    border-radius: 2rem;
    img{width: 100%;}
    strong{color: #fcd547;}
    button{
        background: #2EAF6E;
        color: #FFF;
    }
}
.paso2,.paso3{
    display: none;
}

/* Versión tablet */
@media (min-width: 600px){
    #formInscripcion {
        max-width: calc(800px - 1rem); /* Resta el gap del ancho total */
        display: grid;
        grid-template-columns: 1fr 1fr; /* Columnas iguales */
        column-gap: 1rem;
    }
    .btn-siguiente {
        margin-top: 39px;
    }
    #inscripcion.paso2 #formInscripcion > div:nth-child(5) > label {
        top: 0px;
    }
    #areasApoyo {
        margin-top: 37px !important;
    }
}